Bibliographic Search.json
{
  "name": "Bibliographic Search",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "4be548b1-f070-45cb-8d3b-9f7fc2ca3e4f",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2816,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "wosApiUrl",
              "value": "<__PLACEHOLDER_VALUE__Web of Science API endpoint URL__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "wosApiKey",
              "value": "<__PLACEHOLDER_VALUE__Web of Science API key__>",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "searchQuery",
              "value": "<__PLACEHOLDER_VALUE__Complex search query with positive and negative keywords__>",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "databaseConnectionString",
              "value": "<__PLACEHOLDER_VALUE__PostgreSQL database connection string__>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e04f84cb-0b72-42c4-8ef6-09da5c84342e",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2592,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.wosApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Workflow Configuration').first().json.wosApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Workflow Configuration').first().json.searchQuery }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "879cd87c-e1d8-44ae-add4-4d101297467c",
      "name": "Fetch Papers from Web of Science",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2368,
        304
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "papers",
        "options": {}
      },
      "id": "88855586-c79b-4483-986d-2fe9b83ac0a4",
      "name": "Split Papers",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2144,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.pdfUrl }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdfData"
            }
          }
        }
      },
      "id": "5544b1c0-dedb-4f0e-bb95-7e45a68a480d",
      "name": "Download PDF and Supplementary Materials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1920,
        304
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "pdfData",
        "options": {}
      },
      "id": "a12978ef-8d75-4b5c-8805-07df061627ac",
      "name": "Extract Text from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1696,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "8b1811c6-e556-485d-a2e8-edff9dd6294d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1472,
        528
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"isRelevant\": {\n\t\t\t\"type\": \"boolean\",\n\t\t\t\"description\": \"Whether the paper is relevant to atomic spectroscopy\"\n\t\t},\n\t\t\"hasData\": {\n\t\t\t\"type\": \"boolean\",\n\t\t\t\"description\": \"Whether the paper contains spectroscopic data\"\n\t\t},\n\t\t\"dataTypes\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\",\n\t\t\t\t\"enum\": [\"W\", \"TE\", \"TA\", \"CL\", \"EL\", \"IP\", \"Hfs\", \"IS\", \"ZE\", \"QF\", \"SE\", \"Q\", \"CA\", \"I\", \"C\", \"CP\", \"E\", \"A\", \"H\", \"M\", \"L\"]\n\t\t\t},\n\t\t\t\"description\": \"Keywords indicating types of spectroscopic data present\"\n\t\t},\n\t\t\"spectraNames\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"description\": \"Names of spectra discussed in the paper\"\n\t\t},\n\t\t\"isotopes\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"description\": \"Isotopes mentioned in the paper\"\n\t\t},\n\t\t\"databaseCategory\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"EL\", \"TP\", \"LB\"],\n\t\t\t\"description\": \"Database category: EL (Energy Levels), TP (Transition Probabilities), or LB (Line Broadening)\"\n\t\t},\n\t\t\"summary\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Brief summary of the paper's content and findings\"\n\t\t}\n\t},\n\t\"required\": [\"isRelevant\", \"hasData\", \"dataTypes\", \"spectraNames\", \"isotopes\", \"databaseCategory\", \"summary\"]\n}"
      },
      "id": "3a101d33-1f4b-4f4f-8eb4-5364dd13e61a",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1344,
        528
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Paper Title: ' + $json.title + '\\nAbstract: ' + $json.abstract + '\\nExtracted Text: ' + $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert atomic spectroscopy bibliographic analyst for NIST/NASA databases.\n\nYour task is to analyze scientific papers and determine:\n1. Relevance: Does this paper contain experimental or theoretical data on fundamental properties of atoms and atomic ions?\n2. Data Presence: Confirm actual data exists in tables, text, formulas, or figures (not just citations)\n3. Data Classification: Identify specific data types and assign keywords:\n   - W: Wavelengths/Line Intensities (experimental)\n   - TE: Theoretical energies\n   - TA: Transition arrays\n   - CL: Line classification (assignments to transitions)\n   - EL: Energy levels with interpretations\n   - IP: Ionization energies/electron affinities\n   - Hfs: Hyperfine constants\n   - IS: Isotope shifts\n   - ZE: Landé g-values/Zeeman effect\n   - QF: Quantum field effects (Lamb shifts)\n   - SE: Stark effect/polarizabilities\n   - Q, CA, I, C, CP, E, A, H, M: Various transition probability methods\n   - L: Radiative lifetimes\n4. Spectra Identification: Extract specific spectra names or ranges (e.g., \"C IV\", \"C-U Li-like\")\n5. Isotope Detection: Identify isotope numbers when mentioned\n6. Database Routing: Determine if paper belongs to Energy Levels (EL), Transition Probabilities (TP), or Line Broadening (LB) database\n\nReturn structured analysis with all identified properties."
        }
      },
      "id": "c4d55f67-d6ff-4860-9640-855f9a4430d0",
      "name": "Paper Classification Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1472,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as count FROM papers WHERE doi = $1",
        "options": {
          "queryReplacement": "={{ $json.doi }}"
        }
      },
      "id": "8fd75ade-6b49-4d5a-bc96-66ad2463f3c4",
      "name": "Check if Paper Exists in Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1120,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.count }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "db74c462-9e0b-4481-bf33-81aa35c27ecd",
      "name": "Is Paper New?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -896,
        208
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.databaseCategory }}",
                    "rightValue": "EL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Energy Levels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.databaseCategory }}",
                    "rightValue": "TP",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Transition Probabilities"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.databaseCategory }}",
                    "rightValue": "LB",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Line Broadening"
            }
          ]
        },
        "options": {}
      },
      "id": "8aa05248-2add-460c-98d0-d4a9edb4179d",
      "name": "Route to Database",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -672,
        192
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "energy_levels_papers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "doi": "={{ $json.doi }}",
            "title": "={{ $json.title }}",
            "authors": "={{ $json.authors }}",
            "journal": "={{ $json.journal }}",
            "abstract": "={{ $json.abstract }}",
            "keywords": "={{ $json.keywords }}",
            "pdf_url": "={{ $json.pdf_url }}",
            "full_text": "={{ $json.full_text }}",
            "supplementary_materials": "={{ $json.supplementary_materials }}",
            "spectra_names": "={{ $json.spectra_names }}",
            "isotopes": "={{ $json.isotopes }}"
          }
        },
        "options": {}
      },
      "id": "28c91b87-5de9-4486-8e3c-4eecf49dcd3c",
      "name": "Insert into Energy Levels Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        16
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "transition_probabilities_papers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "doi": "={{ $json.doi }}",
            "title": "={{ $json.title }}",
            "authors": "={{ $json.authors }}",
            "journal": "={{ $json.journal }}",
            "abstract": "={{ $json.abstract }}",
            "keywords": "={{ $json.keywords }}",
            "pdf_url": "={{ $json.pdf_url }}",
            "full_text": "={{ $json.full_text }}",
            "supplementary_materials": "={{ $json.supplementary_materials }}",
            "spectra_names": "={{ $json.spectra_names }}",
            "isotopes": "={{ $json.isotopes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "doi",
              "displayName": "doi",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "authors",
              "displayName": "authors",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "journal",
              "displayName": "journal",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "abstract",
              "displayName": "abstract",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "pdf_url",
              "displayName": "pdf_url",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "full_text",
              "displayName": "full_text",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "supplementary_materials",
              "displayName": "supplementary_materials",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "spectra_names",
              "displayName": "spectra_names",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "isotopes",
              "displayName": "isotopes",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "a501c241-2398-4f6a-b1e6-7ab62b77c5c7",
      "name": "Insert into Transition Probabilities Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        208
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "line_broadening_papers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "doi": "={{ $json.doi }}",
            "title": "={{ $json.title }}",
            "authors": "={{ $json.authors }}",
            "journal": "={{ $json.journal }}",
            "abstract": "={{ $json.abstract }}",
            "keywords": "={{ $json.keywords }}",
            "pdf_url": "={{ $json.pdf_url }}",
            "full_text": "={{ $json.full_text }}",
            "supplementary_materials": "={{ $json.supplementary_materials }}",
            "spectra_names": "={{ $json.spectra_names }}",
            "isotopes": "={{ $json.isotopes }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "ec298bc3-8e1b-4c94-9a4d-576acff1b21a",
      "name": "Insert into Line Broadening Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract references from tables in the paper text\nconst item = $input.item.json;\n\n// Get the extracted text from the PDF\nconst extractedText = item.extractedText || item.text || '';\n\n// Get the classification data from the agent\nconst classification = item.classification || {};\nconst dataType = classification.dataType || '';\n\n// Initialize array to store found references\nconst references = [];\n\n// Common reference patterns in scientific papers\nconst referencePatterns = [\n  // [1], [2], [3-5], etc.\n  /\\[(\\d+(?:-\\d+)?(?:,\\s*\\d+(?:-\\d+)?)*)\\]/g,\n  // (Smith et al. 2020), (Jones 2019), etc.\n  /\\(([A-Z][a-z]+(?:\\s+et\\s+al\\.)?\\s+\\d{4}[a-z]?)\\)/g,\n  // Smith et al. (2020), Jones (2019)\n  /([A-Z][a-z]+(?:\\s+et\\s+al\\.)?\\s+\\(\\d{4}[a-z]?\\))/g,\n  // Superscript style: ^1, ^2, ^3-5\n  /\\^(\\d+(?:-\\d+)?)/g\n];\n\n// Function to extract table sections from text\nfunction extractTableSections(text) {\n  const tableSections = [];\n  \n  // Look for common table indicators\n  const tablePatterns = [\n    /Table\\s+\\d+[\\s\\S]{0,2000}?(?=Table\\s+\\d+|Figure\\s+\\d+|References|$)/gi,\n    /TABLE\\s+\\d+[\\s\\S]{0,2000}?(?=TABLE\\s+\\d+|FIGURE\\s+\\d+|REFERENCES|$)/gi\n  ];\n  \n  for (const pattern of tablePatterns) {\n    const matches = text.matchAll(pattern);\n    for (const match of matches) {\n      tableSections.push(match[0]);\n    }\n  }\n  \n  return tableSections;\n}\n\n// Extract table sections\nconst tableSections = extractTableSections(extractedText);\n\n// If no explicit tables found, analyze the full text\nconst textToAnalyze = tableSections.length > 0 ? tableSections.join('\\n') : extractedText;\n\n// Extract references using all patterns\nfor (const pattern of referencePatterns) {\n  const matches = textToAnalyze.matchAll(pattern);\n  \n  for (const match of matches) {\n    const refText = match[1] || match[0];\n    \n    // Handle range references like \"3-5\" or \"1,2,3\"\n    if (/^\\d+(-\\d+)?(,\\s*\\d+(-\\d+)?)*$/.test(refText)) {\n      const parts = refText.split(',');\n      \n      for (const part of parts) {\n        const trimmed = part.trim();\n        \n        if (trimmed.includes('-')) {\n          // Handle range like \"3-5\"\n          const [start, end] = trimmed.split('-').map(n => parseInt(n));\n          for (let i = start; i <= end; i++) {\n            references.push({\n              type: 'numeric',\n              identifier: i.toString(),\n              context: match.input.substring(Math.max(0, match.index - 50), Math.min(match.input.length, match.index + 100))\n            });\n          }\n        } else {\n          // Single number\n          references.push({\n            type: 'numeric',\n            identifier: trimmed,\n            context: match.input.substring(Math.max(0, match.index - 50), Math.min(match.input.length, match.index + 100))\n          });\n        }\n      }\n    } else {\n      // Author-year style reference\n      references.push({\n        type: 'author-year',\n        identifier: refText,\n        context: match.input.substring(Math.max(0, match.index - 50), Math.min(match.input.length, match.index + 100))\n      });\n    }\n  }\n}\n\n// Remove duplicates based on identifier\nconst uniqueReferences = [];\nconst seen = new Set();\n\nfor (const ref of references) {\n  const key = `${ref.type}:${ref.identifier}`;\n  if (!seen.has(key)) {\n    seen.add(key);\n    uniqueReferences.push(ref);\n  }\n}\n\n// Sort numeric references\nuniqueReferences.sort((a, b) => {\n  if (a.type === 'numeric' && b.type === 'numeric') {\n    return parseInt(a.identifier) - parseInt(b.identifier);\n  }\n  return 0;\n});\n\n// Return the results\nreturn {\n  json: {\n    paperId: item.paperId || item.doi || item.id,\n    paperTitle: item.title || '',\n    dataType: dataType,\n    totalReferencesFound: uniqueReferences.length,\n    references: uniqueReferences,\n    tableCount: tableSections.length,\n    originalData: item\n  }\n};"
      },
      "id": "8330622a-17fd-452b-84b2-78f358e73e62",
      "name": "Extract References from Tables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.clarivate.com/api/wos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <__PLACEHOLDER_VALUE__API_KEY__>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "databaseId",
              "value": "WOS"
            },
            {
              "name": "usrQuery",
              "value": "={{ 'CI=' + $json.citationIdentifier }}"
            },
            {
              "name": "count",
              "value": "10"
            },
            {
              "name": "firstRecord",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "5fe11fd2-8231-449a-97bf-86eed4713276",
      "name": "Search for Referenced Papers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -896,
        400
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "c2b13018-616f-4f66-8caf-54b5b0c40a1e",
      "name": "Merge All Database Inserts",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -224,
        16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Fetch Papers from Web of Science",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Papers from Web of Science": {
      "main": [
        [
          {
            "node": "Split Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Papers": {
      "main": [
        [
          {
            "node": "Download PDF and Supplementary Materials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF and Supplementary Materials": {
      "main": [
        [
          {
            "node": "Extract Text from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from PDF": {
      "main": [
        [
          {
            "node": "Paper Classification Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Paper Classification Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Paper Classification Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Paper Classification Agent": {
      "main": [
        [
          {
            "node": "Check if Paper Exists in Database",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract References from Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Paper Exists in Database": {
      "main": [
        [
          {
            "node": "Is Paper New?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Paper New?": {
      "main": [
        [
          {
            "node": "Route to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Database": {
      "main": [
        [
          {
            "node": "Insert into Energy Levels Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert into Transition Probabilities Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert into Line Broadening Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Energy Levels Database": {
      "main": [
        [
          {
            "node": "Merge All Database Inserts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Transition Probabilities Database": {
      "main": [
        [
          {
            "node": "Merge All Database Inserts",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract References from Tables": {
      "main": [
        [
          {
            "node": "Search for Referenced Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fc7d79a5-cb62-4643-b83c-253b482301ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "09d42f0470615b51f96e1b231ba3f3b517a228a7eb8712271f81ec4e3340ec9f"
  },
  "id": "g9LmADotBLXVIEoB",
  "tags": []
}